[submodule "lib/pawn"]
	path = lib/pawn
	url = https://github.com/openmultiplayer/compiler.git
[submodule "lib/pawn-natives"]
	path = lib/pawn-natives
	url = https://github.com/openmultiplayer/pawn-natives.git
[submodule "lib/RakNet"]
	path = lib/RakNet
	url = https://github.com/openmultiplayer/RakNet.git
[submodule "lib/ttmath"]
	path = lib/ttmath
	url = https://github.com/openmultiplayer/ttmath.git
[submodule "SDK/lib/cmake-conan"]
	path = SDK/lib/cmake-conan
	url = https://github.com/openmultiplayer/cmake-conan.git
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = https://github.com/ksenonadv/cpp-httplib.git
