[submodule "lib/pawn"]
	path = lib/pawn
	url = git@github.com:openmultiplayer/compiler.git
[submodule "lib/pawn-natives"]
	path = lib/pawn-natives
	url = git@github.com:openmultiplayer/pawn-natives.git
[submodule "lib/RakNet"]
	path = lib/RakNet
	url = git@github.com:openmultiplayer/RakNet.git
[submodule "lib/ttmath"]
	path = lib/ttmath
	url = git@github.com:openmultiplayer/ttmath.git
[submodule "SDK/lib/cmake-conan"]
	path = SDK/lib/cmake-conan
	url = git@github.com:openmultiplayer/cmake-conan.git
[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = git@github.com:ksenonadv/cpp-httplib.git
[submodule "SDK/lib/bitset2"]
	path = SDK/lib/bitset2
	url = https://github.com/openmultiplayer/bitset2.git
