name: clang-format Check
on: [pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: [self-hosted, Linux]
    strategy:
      matrix:
        path:
          - 'SDK/include'
          - 'Server'
    steps:
    - uses: actions/checkout@v2
    - name: Run clang-format style check for C/C++ programs.
      uses: jidicula/clang-format-action@v4.5.0
      with:
        clang-format-version: '11'
        check-path: ${{ matrix.path }}
        fallback-style: 'WebKit'
